html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;

  /* Global variables */
  --color-primary: #0f7799;
  --color-grey: lightgrey;
  --layout-cluster-gap-size: 1rem;
  --layout-stack-gap-size: 1rem;
  --wrapper-width: 40rem;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
}

/* Atomic classes */
.flex-grow {
  flex-grow: 1;
}

.flex-item-right {
  margin-left: auto;
}
